@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

::-moz-selection {
  color: #FFFFFF;
  background: #FFBE00;
}

::selection {
  color: #FFFFFF;
  background: #FFBE00;
}

body {
  font-style: normal;
  letter-spacing: normal;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  background: #F7F8F8;
}

main,
section {
  display: block;
}

input,
textarea,
table {
  font-style: normal;
  letter-spacing: normal;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

img {
  display: inline-block;
  max-width: inherit;
  width: 100%;
  vertical-align: middle;
  height: auto;
}

img,
a,
p {
  margin: 0;
  padding: 0;
}

h1, .h1 {
  font-size: 34px;
  line-height: 34px;
}

@media only screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 46px;
    line-height: 46px;
  }
}

@media only screen and (min-width: 1024px) {
  h1, .h1 {
    font-size: 60px;
    line-height: 60px;
  }
}

h2, .h2 {
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  h2, .h2 {
    font-size: 42px;
  }
}

@media only screen and (min-width: 1024px) {
  h2, .h2 {
    font-size: 54px;
  }
}

@media only screen and (min-width: 1200px) {
  h2, .h2 {
    font-size: 66px;
  }
}

h3, .h3 {
  font-size: 30px;
  line-height: 35px;
}

@media only screen and (min-width: 768px) {
  h3, .h3 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  h3, .h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

h4, .h4 {
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  h4, .h4 {
    font-size: 22px;
    line-height: 21px;
  }
}

@media only screen and (min-width: 1024px) {
  h4, .h4 {
    font-size: 28px;
  }
}

h5, .h5 {
  font-size: 18px;
}

@media only screen and (min-width: 1200px) {
  h5, .h5 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 320px) {
  h6, .h6 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  h6, .h6 {
    font-size: 20px;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: #18352D;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover {
  color: #FFBE00;
}

main {
  padding: 0px;
  width: 100%;
  min-height: 400px;
}

section {
  float: left;
  width: 100%;
  padding: 30px 0;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1024px) {
  section {
    padding: 20px 0;
  }
}

p {
  font-size: 17px;
}

.btn {
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #18352D;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  line-height: 40px;
}

.btn.btn-primary {
  background: #18352D;
  color: #FFFFFF;
  border-color: #18352D;
}

.btn.btn-primary:hover {
  background-color: #FFFFFF;
  color: #18352D;
}

.btn.btn-medium {
  max-width: 180px;
  min-width: 180px;
  margin: 20px auto 30px;
}

@media only screen and (min-width: 768px) {
  .btn.btn-medium {
    margin: 10px 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  .btn.btn-medium {
    max-width: 220px;
    width: 100%;
    min-width: 220px;
  }
}

.btn.btn-small {
  max-width: 160px;
  width: 100%;
}

section section {
  padding: 0;
}

.page-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  margin-top: 70px;
}

.container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/*# sourceMappingURL=app.css.map */