@import "../common/variable";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@mixin body-font-style {    
    font-style: normal;
    letter-spacing: normal;
    font-family: $site_font_primary;    
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    -o-opacity: $opacity;
    -ms-opacity: $opacity;
    opacity: $opacity;
}

@mixin transition($seconds, $timing: ease) {
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds $timing;
}

@mixin transform($property) {
    -o-transform: $property;
    -webkit-transform: $property;
    -ms-transform: $property;
    -moz-transform: $property;
    transform: $property;
}

@mixin flexbox() {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

@mixin justify-center() {    
    justify-content: center;
}

@mixin flex-center() {
    @include flexbox;
    @include align-item-center;
    @include justify-center;
}

@mixin figure {
    margin: 0;
    display: inherit;
}

@mixin img-common {
    display: inline-block;
    max-width: inherit;
    width: 100%;
    vertical-align: middle;
    height: auto;
}

@mixin space-none {
    margin: 0;
    padding: 0;
}

@mixin order-unoderlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin anchor-link-common {
    text-decoration: none;
    outline: none;
    color: $site_primary_color;
    @include transition(0.4s);
    &:hover {
        color: $site_secondary_color;
    }
}

@mixin main {    
    padding: 0px;
    width: 100%;
    min-height: 400px;
}

@mixin section {
    float: left;
    width: 100%;        
    padding: 30px 0;
    @media only screen and (min-width: $device-md) {
        padding: 40px 0;
    }
    @media only screen and (min-width: $device-lg) {
        padding: 20px 0;
    }    
}

@mixin box($property) {
    box-sizing: $property;
    -moz-box-sizing: $property; 
    -webkit-box-sizing: $property;
    -o-box-sizing: $property; 
}

@mixin font-xl{   
    font-size: 34px;  
    line-height: 34px;  
    @media only screen and (min-width: $device-md) {
        font-size: 46px;
        line-height: 46px;
    }  
    @media only screen and (min-width: $device-lg) {
        font-size: 60px;
        line-height: 60px;
    }    
}

@mixin font-lg{
    font-size: 30px;    
    @media only screen and (min-width: $device-md) {
        font-size: 42px;
    }  
    @media only screen and (min-width: $device-lg) {
        font-size: 54px;
    }  
    @media only screen and (min-width: $device-xl) {
        font-size: 66px;
    } 
}

@mixin font-md{
    font-size: 30px;
    line-height: 35px;
    @media only screen and (min-width: $device-md) {
        font-size: 35px;
        line-height: 40px;
    }
    @media only screen and (min-width: $device-lg) {
        font-size: 40px;
        line-height: 50px;
    }    
}

@mixin font-sm{    
    font-size: 18px;    
    @media only screen and (min-width: $device-md) {
        font-size: 22px;
        line-height: 21px;
    }
    @media only screen and (min-width: $device-lg) {
        font-size: 28px;
    }
}

@mixin font-xs{        
    font-size: 18px;
    @media only screen and (min-width: $device-xl) {
        font-size: 20px;
    }
}

@mixin font-xxs{    
    @media only screen and (min-width: $device-xs) {
        font-size: 15px;
    }
    @media only screen and (min-width: $device-xl) {
        font-size: 20px;
    }
}

@mixin body-fonts {
    font-size: 17px;    
}

@mixin h1 {
    @include font-xl;
}

@mixin h2 {
    @include font-lg;
}

@mixin h3 {
    @include font-md;
}

@mixin h4 {
    @include font-sm;
}

@mixin h5 {
    //not available / not in use
    @include font-xs;
}

@mixin h6 {
    //not available / not in use
    @include font-xxs;
}

@mixin p {
    @include body-fonts;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-weight: 300;
}

@mixin row {
    @include flexbox;
    @include flexrow;
    @include flexwrap;
    
    .d-col {
        @include flexbox;
        @include flexwrap;
        padding: 0 15px;
        width: 100%;
        margin-bottom: 15px;
        @media only screen and (min-width: $device-md) {
            margin-bottom: 20px;
        }
        @media only screen and (min-width: $device-xl) {
            margin-bottom: 40px;
            padding: 0 20px;
        }
        &.d-col-2 {
            width: 100%;
            @media only screen and (min-width: $device-md) {
                width: 50%;
            }
        }
        &.d-col-3 {
            width: 100%;
            @media only screen and (min-width: $device-sm) {
                width: 50%;
            }
            @media only screen and (min-width: $device-xl) {
                width: 33.33%;
            }
        }
        &.d-col-4 {
            width: 100%;
            @media only screen and (min-width: $device-md) {
                width: 50%;
            }
            @media only screen and (min-width: $device-lg) {
                width: 33.33%;
            }
            @media only screen and (min-width: $device-xl) {
                width: 25%;
            }
        }
        &.d-col-33 {
            width: 100%;
            @media only screen and (min-width: $device-md) {
                width: 33%;
            }            
        }
        &.d-col-66 {
            width: 100%;
            @media only screen and (min-width: $device-lg) {
                width: 66.66%;
            }
        }
    }
}

@mixin align-item-center {
    align-items: center;
}

@mixin align-item-start {
    align-items: flex-start;
}

@mixin align-item-end {
    align-items: flex-end;
}

@mixin just-center {
    justify-content: center;
}

@mixin just-start {
    justify-content: start;
}

@mixin just-end {
    justify-content: end;
}

@mixin space-between {
    justify-content: space-between;
}

@mixin flexrow {
    flex-direction: row;
}

@mixin flexColumn {
    flex-direction: column;
}

@mixin flexwrap {
    flex-wrap: wrap;
}

@mixin text-center {
    text-align: center;
}

@mixin button {       
    @include text-center();
    @include transition(0.3s);
    border: 1px solid $site_primary_color;
    outline: none;    
    cursor: pointer;        
    text-decoration: none;
    position: relative;          
    @include flexbox();
    @include align-item-center();
    @include just-center();        
    height: 40px;
    line-height: 40px;        
}

@mixin btn-medium {        
    max-width: 180px;
    min-width: 180px;
    margin: 20px auto 30px;    
    @media only screen and (min-width: $device-md) { 
        margin: 10px 0 0;
    }
    @media only screen and (min-width: $device-lg) {
        max-width: 220px; 
        width: 100%;
        min-width: 220px;
    }
}

@mixin btn-small {
    max-width: 160px;
    width: 100%;
}


@mixin btn-primary {
    background: $site_primary_color;
    color: $white_color; 
    border-color: $site_primary_color;
    &:hover {
        background-color: $white_color;
        color: $site_primary_color;
    }
}

@mixin btn-secondary {
    background-color: $site_secondary_color;
    color: $site_primary_color;
    border-color: $site_secondary_color;
    &:hover {
        background-color: var(--data_site_highlighted_color);
        color: var(--data_site_secondary_color);
    }
}