
$site_primary_color: #18352D;
$site_secondary_color: #FFBE00;
$site_tertiary_color: #002043;
$site_font_primary: 'Lato', sans-serif;
$site_font_secondary: 'Montserrat', sans-serif;
$site_text_color: #000000;
$white_color: #FFFFFF;
$section-bg: #eeeeee;
$divider: #96abb3;
$light-blue: #96abb3;
 
$device-xs: 320px;
$device-sm: 576px;
$device-md: 768px;
$device-lg: 1024px;
$device-xl: 1200px;
$device-xxl: 1600px;
$device-xxxl: 1900px;