@import "../common/mixin";

h5 {
    margin: 0;
    font-weight: 900;
    color: $site_tertiary_color;
    text-transform: capitalize;
}
/******** Banner Section ********/
.banner {
    background-color: $site_primary_color;
    @include space-none;
    .banner-wrapper {
        @include flexbox;
        @include space-between;
        @include align-item-center;
        padding: 40px 0;
        .banner-image {
            position: relative;            
            padding: 18% 50%;
            margin: 0 auto;
            @media only screen and (min-width: $device-md) {
                padding: 12% 32%;
            }
            img {
                position: absolute;
                inset: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .page-titile {
        max-width: 350px;
        color: $white_color;
        margin: 0 auto;
        @include text-center;
        display: none;
        @media only screen and (min-width: $device-md) {
            display: block;
        }
        h1 {
            margin: 0;
        }

    }
}

/******** Breadcrumbs Section ********/
.breadcrumbs {
    clear: both;
    padding: 10px 0;
    ul {
        @include flexbox;
        text-transform: capitalize;
        
        li {
            margin-right: 10px;
            a {
                padding-right: 15px;                
                position: relative;
                font-weight: 600;
                &::after {
                    content: '/';
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

/******** Blog-n-Event Section ********/
.blog-n-event {
    padding: 0;
    .event-list-wrapper {
        @include flexbox;
        @include space-between;
        @include flexColumn;
        @media only screen and (min-width: $device-md) {
            @include flexrow;
        }
        .post-list {
            max-width: 800px;
            counter-reset: css-counter 0;
            .post {
                @include flexbox;
                padding-top: 20px;
                padding-left: 15px;
                padding-bottom: 15px;
                margin-bottom: 10px;
                background: $white_color;
                position: relative;
                @media only screen and (min-width: $device-md) {
                    padding-top: 40px;
                    padding-left: 0;
                    padding-bottom: 0;
                }
                &:before {
                    @media only screen and (min-width: $device-md) {
                        background: $white_color;
                        position: absolute;
                        top: 0;
                        left: -100%;
                        height: 100%;
                        display: inline-block;
                        width: 100%;
                        content: '';
                    }
                }
                &:last-child {
                    padding-bottom: 40px;
                }
                .post-number {
                    counter-increment: css-counter 1;
                    position: relative;
                    margin-top: 20px;
                    &::before {
                        content: "0"counter(css-counter) ;
                        position: -webkit-sticky;
                        position: sticky;
                        top: 108px;
                        align-self: flex-start;
                        background: #FFBA11;
                        color: $white_color;
                        font-size: 15px;
                        padding: 15px 5px;
                        font-weight: 600;
                        @media only screen and (min-width: $device-md) {
                            top: 88px;
                        }
                    }
                }
                
                .post-wrapper {
                    padding: 0 20px;
                    @media only screen and (min-width: $device-sm) {
                        padding: 10px 20px 10px 30px;
                    }
                    .post-title {
                        margin-bottom: 20px;
                    }
                    .post-details {
                        @include flexbox;
                        @include flexColumn;
                        @media only screen and (min-width: $device-sm) {
                            @include flexrow;
                        }
                        .image {
                            position: relative;
                            padding: 30% 50%;
                            margin-bottom: 10px;
                            @media only screen and (min-width: $device-sm) {
                                padding: 13% 21%;
                                margin-bottom: 0;
                            }
                            img {
                                position: absolute;
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                                inset: 0;                                
                            }
                        }
                        .content {
                            @media only screen and (min-width: $device-sm) {
                                padding-left: 30px;
                            }
                            p {
                                margin-bottom: 20px;
                            }
                            a {
                                @include border-radius(0);
                                text-transform: capitalize;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
        .event-lists {
            max-width: 400px;
            width: 100%;
            position: -webkit-sticky;
            position: sticky;
            top: 88px;
            align-self: flex-start;
            @media only screen and (min-width: $device-md) {
                padding-left: 30px;
            }
            .search {
                margin-top: 50px;
                #searchForm {
                    .form-group {
                        position: relative;
                        input {
                            width: 100%;
                            height: 40px;
                            padding: 5px 10px;
                        }
                        button {
                            position: absolute;
                            top: 0;
                            right: 0;
                            @include border-radius(0);
                            text-transform: capitalize;
                        }
                    }
                }   
            }            
            .subtitle {
                border-bottom: 1px solid $site_secondary_color;
                margin-bottom: 40px;
                h6 {
                    margin-bottom: 0;
                    position: relative;
                    display: inline-block;
                    padding: 5px 10px;
                    color: $site_primary_color;
                    text-transform: capitalize;
                    &::before {
                        content: '';
                        background: $site_secondary_color;
                        width: 20px;
                        height: 100%;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &::after {
                        content: " ";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 20px;
                        z-index: -1;
                        background: $site_secondary_color;
                        transform-origin: bottom left;
                        -ms-transform: skew(-30deg, 0deg);
                        -webkit-transform: skew(-30deg, 0deg);
                        transform: skew(22deg, 0);
                    }
                    span {
                        position: relative;
                    }
                }
            }
            .event {
                max-width: 250px;
                color: $site_primary_color;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                @media only screen and (min-width: $device-md) {
                    margin-left: unset;
                    margin-right: unset;
                }
                .image {
                    margin-bottom: 10px;
                }
            }    
        }
    }
}
