@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
h5 {
  margin: 0;
  font-weight: 900;
  color: #002043;
  text-transform: capitalize;
}

/******** Banner Section ********/
.banner {
  background-color: #18352D;
  margin: 0;
  padding: 0;
}

.banner .banner-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.banner .banner-wrapper .banner-image {
  position: relative;
  padding: 18% 50%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper .banner-image {
    padding: 12% 32%;
  }
}

.banner .banner-wrapper .banner-image img {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner .page-titile {
  max-width: 350px;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  display: none;
}

@media only screen and (min-width: 768px) {
  .banner .page-titile {
    display: block;
  }
}

.banner .page-titile h1 {
  margin: 0;
}

/******** Breadcrumbs Section ********/
.breadcrumbs {
  clear: both;
  padding: 10px 0;
}

.breadcrumbs ul {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
}

.breadcrumbs ul li {
  margin-right: 10px;
}

.breadcrumbs ul li a {
  padding-right: 15px;
  position: relative;
  font-weight: 600;
}

.breadcrumbs ul li a::after {
  content: '/';
  position: absolute;
  right: 0;
}

/******** Blog-n-Event Section ********/
.blog-n-event {
  padding: 0;
}

.blog-n-event .event-list-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .blog-n-event .event-list-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.blog-n-event .event-list-wrapper .post-list {
  max-width: 800px;
  counter-reset: css-counter 0;
}

.blog-n-event .event-list-wrapper .post-list .post {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  background: #FFFFFF;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .blog-n-event .event-list-wrapper .post-list .post {
    padding-top: 40px;
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .blog-n-event .event-list-wrapper .post-list .post:before {
    background: #FFFFFF;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    display: inline-block;
    width: 100%;
    content: '';
  }
}

.blog-n-event .event-list-wrapper .post-list .post:last-child {
  padding-bottom: 40px;
}

.blog-n-event .event-list-wrapper .post-list .post .post-number {
  counter-increment: css-counter 1;
  position: relative;
  margin-top: 20px;
}

.blog-n-event .event-list-wrapper .post-list .post .post-number::before {
  content: "0" counter(css-counter);
  position: -webkit-sticky;
  position: sticky;
  top: 108px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #FFBA11;
  color: #FFFFFF;
  font-size: 15px;
  padding: 15px 5px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .blog-n-event .event-list-wrapper .post-list .post .post-number::before {
    top: 88px;
  }
}

.blog-n-event .event-list-wrapper .post-list .post .post-wrapper {
  padding: 0 20px;
}

@media only screen and (min-width: 576px) {
  .blog-n-event .event-list-wrapper .post-list .post .post-wrapper {
    padding: 10px 20px 10px 30px;
  }
}

.blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-title {
  margin-bottom: 20px;
}

.blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-details {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 576px) {
  .blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-details .image {
  position: relative;
  padding: 30% 50%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 576px) {
  .blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-details .image {
    padding: 13% 21%;
    margin-bottom: 0;
  }
}

.blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-details .image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
}

@media only screen and (min-width: 576px) {
  .blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-details .content {
    padding-left: 30px;
  }
}

.blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-details .content p {
  margin-bottom: 20px;
}

.blog-n-event .event-list-wrapper .post-list .post .post-wrapper .post-details .content a {
  border-radius: 0;
  text-transform: capitalize;
  font-weight: 500;
}

.blog-n-event .event-list-wrapper .event-lists {
  max-width: 400px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 88px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (min-width: 768px) {
  .blog-n-event .event-list-wrapper .event-lists {
    padding-left: 30px;
  }
}

.blog-n-event .event-list-wrapper .event-lists .search {
  margin-top: 50px;
}

.blog-n-event .event-list-wrapper .event-lists .search #searchForm .form-group {
  position: relative;
}

.blog-n-event .event-list-wrapper .event-lists .search #searchForm .form-group input {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
}

.blog-n-event .event-list-wrapper .event-lists .search #searchForm .form-group button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  text-transform: capitalize;
}

.blog-n-event .event-list-wrapper .event-lists .subtitle {
  border-bottom: 1px solid #FFBE00;
  margin-bottom: 40px;
}

.blog-n-event .event-list-wrapper .event-lists .subtitle h6 {
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: #18352D;
  text-transform: capitalize;
}

.blog-n-event .event-list-wrapper .event-lists .subtitle h6::before {
  content: '';
  background: #FFBE00;
  width: 20px;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.blog-n-event .event-list-wrapper .event-lists .subtitle h6::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 20px;
  z-index: -1;
  background: #FFBE00;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: skew(-30deg, 0deg);
  transform: skew(22deg, 0);
}

.blog-n-event .event-list-wrapper .event-lists .subtitle h6 span {
  position: relative;
}

.blog-n-event .event-list-wrapper .event-lists .event {
  max-width: 250px;
  color: #18352D;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .blog-n-event .event-list-wrapper .event-lists .event {
    margin-left: unset;
    margin-right: unset;
  }
}

.blog-n-event .event-list-wrapper .event-lists .event .image {
  margin-bottom: 10px;
}
/*# sourceMappingURL=blog-n-event.css.map */