@import "../common/mixin";

h3 {
    margin: 0 0 20px;
    font-weight: 900;
    color: $site_primary_color;
    text-transform: uppercase;
}
/******** Banner Section ********/
.banner {    
    padding: 0;  
    margin-bottom: 0;
    .banner-image {
        position: relative;
        padding: 20% 50%;
        @media only screen and (min-width: $device-md) {
            padding: 14% 50%;
        }
        @media only screen and (min-width: $device-lg) {
            padding: 9.841% 50%;
        }
        img {
            position: absolute;            
            object-fit: cover;
            width: 100%;
            height: 100%;
            inset: 0;            
        }
    }
    .page-titile {
        position: absolute;
        inset: 0;
        @include flexbox;
        @include align-item-center;
        @include just-center;
        background: rgba(24, 53, 45, 0.66);
        h1 { 
            margin: 0;
            color: $white_color;
            text-transform: uppercase;
        }
    }
}
/******** Breadcrumbs Section ********/
.breadcrumbs {
    clear: both;
    padding: 10px 0;
    background: $white_color;
    ul {
        @include flexbox;
        text-transform: capitalize;
        
        li {
            margin-right: 10px;
            a {
                padding-right: 15px;                
                position: relative;
                font-weight: 600;
                &::after {
                    content: '/';
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

/******** Contact List Section ********/
.contact {
    margin: 0;
    background: $white_color;
    .contact-wrapper {
        .contact-list {
            @include flexbox;
            @include space-between;
            max-width: 350px;
            margin: 0 auto;
            @include flexColumn;
            @media only screen and (min-width: $device-md) {
                flex-direction: row;
                max-width: 950px;
            }
            li {             
                @include flexbox;   
                margin-bottom: 20px;   
                &:last-child {
                    margin-bottom: 0;
                }             
                @media only screen and (min-width: $device-md) {
                    margin-bottom: 0;
                }
                .image {
                    width: 50px;
                    @media only screen and (min-width: $device-lg) {
                        width: 75px;
                    }
                }
                .details {
                    padding-left: 20px;
                    font-weight: 500;
                    .title {
                        margin-bottom: 10px;
                    }
                    p {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

/******** Get in Touch Section ********/

.get-in-touch {    
    margin-bottom: 0;
    p {
        margin-bottom: 20px;
        @media only screen and (min-width: $device-md) {
            margin-bottom: 50px;    
        }        
    }
    .form-wrapper {
        @include flexbox;
        @include space-between;
        @include flexColumn;
        @media only screen and (min-width: $device-lg) {
            flex-direction: row;
        }
        .image {
            max-width: 350px;
            margin: 0 auto 20px;
            @media only screen and (min-width: $device-lg) {
                max-width: 400px;
                margin: unset;
            }
        }
        .form {
            width: 100%;
            @media only screen and (min-width: $device-md) {
                width: calc(100% - 400px);
            }
            @media only screen and (min-width: $device-lg) {
                width: calc(100% - 500px);
            }
            .icon {
                width: 15px;
                position: absolute;
                top: 49%;
                left: 0;
                transform: translate(90%,-60%);
                @media only screen and (min-width: $device-md) {
                    width: 17px;
                    transform: translate(100%,-60%);
                }
            }
            .form-group{
                width: 100%;                
                margin-bottom: 20px;
                position: relative;
                &.two {
                    width: calc(50% - 7px);
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    @media only screen and (min-width: $device-md) {
                        width: calc(50% - 12px);
                        margin-right: 20px;
                    }
                    &:nth-child(2) {
                        margin-right: 0;
                    }
                }
                input {
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid $site_primary_color;
                    width: 100%;
                    padding: 0 10px 0 40px;
                    @media only screen and (min-width: $device-md) {
                        height: 50px;
                        line-height: 50px;
                        padding: 0 10px 0 50px;
                    }                    
                    &:focus {outline:none;}
                    &.error {
                        border: 1px solid #8B0000;
                    }
                }
                textarea {
                    border: 1px solid $site_primary_color;
                    width: 100%;
                    padding: 10px 10px 10px 40px;
                    @media only screen and (min-width: $device-md) {                     
                        padding: 10px 10px 10px 50px;
                    }
                    &.error {
                        border: 1px solid #8B0000;
                    }
                    &:focus {outline:none;}                    
                }
                button {
                    background: $site_primary_color;
                    color: $white_color;
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    @include text-center;
                    @media only screen and (min-width: $device-md) {
                        height: 50px;
                        line-height: 50px;                        
                    }
                }
            }
            
            button {
                width: 100%;                
                @include border-radius(0);
            }
        }
    }
}
/******** Global Reach Section ********/
.global-reach {
    margin: 0;
    .map-image {
        margin-bottom: 20px;
    }
    ul.country-list {
        max-width: 260px;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        margin: 0 0 0 auto;
        @media only screen and (min-width: $device-sm) {
            max-width: 350px;
            margin: 0 auto;
        }
        @media only screen and (min-width: $device-md) {
            max-width: 650px;
            columns: 4;
            -webkit-columns: 4;
            -moz-columns: 4;
        }
        @media only screen and (min-width: $device-lg) {
            max-width: 700px;
        }
        li {
            margin-bottom: 5px;
            list-style-type: circle;
            color: $site_secondary_color;
            a {
                font-weight: 600;
            }
        }
    }
}