@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/******** Banner Section ********/
.banner {
  background: #18352D;
  height: 600px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .banner {
    height: 420px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner {
    height: 550px;
  }
}

.banner .banner-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper .banner-content {
    max-width: 550px;
  }
}

.banner .banner-wrapper h1 {
  color: #FFFFFF;
  margin: 0 0 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper h1 {
    margin: 0 0 30px;
    text-align: left;
  }
}

.banner .banner-wrapper h3 {
  color: #FFFFFF;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper h3 {
    margin: 0 0 40px;
    text-align: left;
  }
}

.banner .banner-wrapper .btn {
  background: #FFBE00;
  color: #18352D;
  text-transform: capitalize;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper .btn {
    margin: unset;
  }
}

.banner .banner-wrapper .btn:hover {
  border: 1px solid #FFBE00;
  background: transparent;
  color: #FFBE00;
}

.banner .banner-wrapper .banner-image {
  position: relative;
}

.banner .banner-wrapper .banner-image img {
  max-width: 350px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper .banner-image img {
    max-width: 480px;
    margin: 0;
  }
}

/******** Our Product Section ********/
.our-product {
  margin-top: 0;
  padding: 30px 0;
}

@media only screen and (min-width: 768px) {
  .our-product {
    padding: 40px 0 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .our-product {
    padding-top: 0;
    margin-top: -130px;
  }
}

.our-product .our-product-wrapper {
  position: relative;
}

.our-product .slick-arrow {
  background: url(../../images/home/arrow.svg) no-repeat;
  width: 48px;
  height: 38px;
  display: inline-block;
}

.our-product .product-list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  position: unset;
}

@media only screen and (min-width: 768px) {
  .our-product .product-list {
    max-width: 650px;
    margin: 0 -10px;
  }
}

.our-product .product-list li {
  padding: 0 10px;
  width: 33.33%;
}

.our-product .product-list .image {
  position: relative;
  padding: 40% 50%;
}

@media only screen and (min-width: 768px) {
  .our-product .product-list .image {
    padding: 60% 40%;
  }
}

.our-product .product-list .image .blog-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #FFFFFF;
}

.our-product .product-list .image img {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.our-product .slick-arrow {
  background: url(../../images/home/arrow.svg) no-repeat;
  width: 48px;
  height: 38px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 60%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .our-product .slick-arrow {
    top: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .our-product .slick-arrow {
    right: 120px;
    top: 60%;
  }
}

.our-product .arrow-left.slick-arrow {
  right: 60px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (min-width: 1024px) {
  .our-product .arrow-left.slick-arrow {
    right: 220px;
  }
}

/******** About us Section ********/
.about-us {
  background: #fff;
  margin: 0;
}

.about-us .about-us-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media only screen and (min-width: 768px) {
  .about-us .about-us-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about-us .about-us-wrapper .content {
  padding: 20px 0;
  max-width: 710px;
}

@media only screen and (min-width: 768px) {
  .about-us .about-us-wrapper .content {
    padding: 0 20px 0 0;
    max-width: 410px;
  }
}

@media only screen and (min-width: 1024px) {
  .about-us .about-us-wrapper .content {
    max-width: 610px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-us .about-us-wrapper .content {
    max-width: 710px;
  }
}

.about-us .about-us-wrapper .content h3 {
  font-weight: 900;
  margin: 0 0 20px;
  color: #18352D;
}

.about-us .about-us-wrapper .video {
  position: relative;
  margin-top: 25px;
  margin-top: 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .about-us .about-us-wrapper .video {
    width: calc(100% - 440px);
  }
}

@media only screen and (min-width: 1024px) {
  .about-us .about-us-wrapper .video {
    width: calc(100% - 650px);
  }
}

@media only screen and (min-width: 1200px) {
  .about-us .about-us-wrapper .video {
    width: calc(100% - 750px);
  }
}

.about-us .about-us-wrapper .video iframe {
  height: 180px;
}

@media only screen and (min-width: 768px) {
  .about-us .about-us-wrapper .video iframe {
    height: 300px;
  }
}

/******** Our Service Section ********/
.our-service-wrapper {
  max-width: 780px;
  margin: 0 auto 20px;
  text-align: center;
}

.our-service-wrapper h3 {
  font-weight: 900;
  margin: 0 0 20px;
  color: #18352D;
  text-align: center;
}

.services-list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-list li {
  width: 50%;
  margin-bottom: 25px;
}

@media only screen and (min-width: 1024px) {
  .services-list li {
    width: 33.33%;
  }
}

@media only screen and (min-width: 1024px) {
  .services-list li {
    width: 25%;
    margin-bottom: 0;
  }
}

.services-list img {
  width: 140px;
  margin: 0 auto 10px;
  text-align: center;
  display: block;
}

.services-list h5 {
  margin: 0;
}

/******** Testimonial Section ********/
.testimonial {
  padding: 0;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  .testimonial .container {
    padding: 50px 0;
  }
}

.testimonial .testimonial-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .testimonial .testimonial-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .testimonial .testimonial-wrapper:after {
    content: '';
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: -100%;
    background: #18352D;
  }
}

.testimonial .testimonial-wrapper .content {
  color: #FFFFFF;
  text-align: center;
  background: #18352D;
  max-width: 100;
  padding: 30px 15px;
  margin-left: auto;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .testimonial .testimonial-wrapper .content {
    text-align: unset;
  }
}

@media only screen and (min-width: 1024px) {
  .testimonial .testimonial-wrapper .content {
    max-width: 845px;
    padding: 30px 40px 30px 250px;
  }
}

@media only screen and (min-width: 1200px) {
  .testimonial .testimonial-wrapper .content {
    max-width: 1000px;
    padding: 30px 40px 30px 330px;
  }
}

.testimonial .testimonial-wrapper .content h3 {
  font-weight: 900;
  margin: 0 0 10px;
  color: #FFFFFF;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .testimonial .testimonial-wrapper .content h3 {
    text-align: unset;
  }
}

.testimonial .testimonial-wrapper .content .subtitle {
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .testimonial .testimonial-wrapper .content .subtitle {
    text-align: unset;
  }
}

.testimonial .testimonial-wrapper .content a {
  color: #FFBE00;
}

.testimonial .testimonial-wrapper .content a:hover {
  color: #FFFFFF;
}

.testimonial .testimonial-wrapper .testimonial-image {
  position: relative;
  padding: 25% 30%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 576px) {
  .testimonial .testimonial-wrapper .testimonial-image {
    padding: 20% 25%;
  }
}

@media only screen and (min-width: 768px) {
  .testimonial .testimonial-wrapper .testimonial-image {
    padding: 21% 24%;
  }
}

@media only screen and (min-width: 1024px) {
  .testimonial .testimonial-wrapper .testimonial-image {
    margin-bottom: 0;
    padding: 19% 20%;
    position: absolute;
    left: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  .testimonial .testimonial-wrapper .testimonial-image {
    padding: 15% 17%;
  }
}

.testimonial .testimonial-wrapper .testimonial-image img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 25px;
}

/******** Our Blog Section ********/
@media only screen and (min-width: 768px) {
  .our-blog {
    padding: 0;
  }
}

.our-blog h3 {
  font-weight: 900;
  margin: 0 0 20px;
  color: #18352D;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .our-blog h3 {
    margin: 0 0 40px;
  }
}

.our-blog .blog-list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.our-blog .blog-list li {
  padding: 0 10px;
  width: 33.33%;
}

.our-blog .blog-list .image {
  position: relative;
  padding: 35% 50%;
  margin-bottom: 10px;
}

.our-blog .blog-list .image .blog-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
  color: #FFFFFF;
}

.our-blog .blog-list .image img {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.our-blog .blog-list p {
  font-weight: 500;
}

.our-blog .view-all {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .our-blog .view-all {
    margin-top: 50px;
  }
}

.our-blog .view-all a {
  margin: 0 auto;
  background: #18352D;
  color: #FFFFFF;
  text-transform: unset;
}

.our-blog .view-all a:hover {
  background: #FFBE00;
  color: #18352D;
}
/*# sourceMappingURL=index.css.map */