@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
h3 {
  font-weight: 900;
  margin: 0 0 20px;
  color: #18352D;
  text-transform: capitalize;
}

h3 span {
  color: #FFBE00;
}

/******** Banner Section ********/
.banner {
  background: #18352D;
}

.banner .banner-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper .banner-content {
    max-width: 450px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner .banner-wrapper .banner-content {
    max-width: 800px;
  }
}

.banner .banner-wrapper h1 {
  color: #FFFFFF;
  margin: 0 0 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper h1 {
    margin: 0 0 30px;
    text-align: left;
  }
}

.banner .banner-wrapper h3 {
  color: #FFFFFF;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper h3 {
    margin: 0 0 40px;
    text-align: left;
  }
}

.banner .banner-wrapper .btn {
  background: #FFBE00;
  color: #18352D;
  text-transform: capitalize;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper .btn {
    margin: unset;
  }
}

.banner .banner-wrapper .btn:hover {
  border: 1px solid #FFBE00;
  background: transparent;
  color: #FFBE00;
}

.banner .banner-wrapper .banner-image {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.banner .banner-wrapper .banner-image img {
  max-width: 300px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .banner .banner-wrapper .banner-image img {
    margin: 0;
  }
}

/******** Our Product Section ********/
.our-product .our-product-wrapper {
  position: relative;
}

.our-product .slick-arrow {
  background: url(../../images/home/arrow.svg) no-repeat;
  width: 48px;
  height: 38px;
  display: inline-block;
}

.our-product .product-list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  position: unset;
}

.our-product .product-list li {
  padding: 0 10px;
  width: 33.33%;
}

.our-product .product-list .image {
  position: relative;
  padding: 40% 50%;
}

@media only screen and (min-width: 768px) {
  .our-product .product-list .image {
    padding: 60% 40%;
  }
}

.our-product .product-list .image .blog-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #FFFFFF;
}

.our-product .product-list .image img {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.our-product .slick-arrow {
  background: url(../../images/home/arrow.svg) no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  top: 60%;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .our-product .slick-arrow {
    top: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .our-product .slick-arrow {
    top: 50%;
  }
}

.our-product .arrow-left.slick-arrow {
  left: -30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.our-product .arrow-right.slick-arrow {
  right: -30px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/******** About us Section ********/
.about-us {
  background: #FFFFFF;
}

.about-us .about-us-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media only screen and (min-width: 768px) {
  .about-us .about-us-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about-us .about-us-wrapper .content {
  max-width: 710px;
}

@media only screen and (min-width: 768px) {
  .about-us .about-us-wrapper .content {
    max-width: 410px;
  }
}

@media only screen and (min-width: 1024px) {
  .about-us .about-us-wrapper .content {
    max-width: 560px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-us .about-us-wrapper .content {
    max-width: 710px;
  }
}

.about-us .about-us-wrapper .content a {
  font-weight: 700;
}

.about-us .about-us-wrapper .content h3 {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .about-us .about-us-wrapper .content h3 {
    margin-top: 0;
  }
}

.about-us .about-us-wrapper .video {
  max-width: 400px;
  width: 100%;
}

/******** Our Service Section ********/
.our-service {
  background-color: #FFFFFF;
}

.our-service-wrapper {
  margin-bottom: 20px;
}

.our-service-wrapper a {
  font-weight: 700;
}

.services-list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services-list li {
  width: 50%;
  margin-bottom: 25px;
}

@media only screen and (min-width: 1024px) {
  .services-list li {
    width: 33.33%;
  }
}

@media only screen and (min-width: 1024px) {
  .services-list li {
    width: 25%;
    margin-bottom: 0;
  }
}

.services-list img {
  width: 100px;
  margin: 0 auto 10px;
  text-align: center;
  display: block;
}

.services-list h5 {
  margin: 0;
}

/******** Testimonial Section ********
.testimonial {
    padding: 0;      
    overflow: hidden;
    .container {
        @media only screen and (min-width: $device-lg) {
            padding: 50px 0;
        }
    }
    .testimonial-wrapper {
        @include flexbox;
        @include align-item-center;
        flex-direction: column;
        position: relative;
        @media only screen and (min-width: $device-lg) {
            @include flexrow;
            @include space-between;
        }        
        &:after {
            @media only screen and (min-width: $device-lg) {
                content: '';
                width: 100%;
                height: 100%;
                display: inline-block;
                position: absolute;
                right: -100%;
                background: $site_primary_color;
            }
        }
        .content {            
            color: $white_color; 
            @include text-center;
            background: $site_primary_color; 

            max-width: 100;
            padding: 30px 15px;
            margin-left: auto;
            width: 100%;     
            @media only screen and (min-width: $device-md) {
                text-align: unset;                
            }
            @media only screen and (min-width: $device-lg) {
                max-width: 810px;
                padding: 30px 40px 30px 250px;
            }     
            @media only screen and (min-width: $device-xl) {
                max-width: 1000px;
                padding: 30px 40px 30px 330px;
            }            
            .subtitle {
                font-weight: normal;
                text-transform: capitalize;
                margin-bottom: 20px;
                @include text-center;
                @media only screen and (min-width: $device-lg) {
                    text-align: unset;                
                }
            }
            a {
                color: $site_secondary_color;
                font-weight: 700;
                &:hover {
                    color: $white_color;
                }
            }
        }
        .testimonial-image {
            position: relative;
            padding: 30%;
            margin-bottom: 20px;
            @media only screen and (min-width: $device-sm) {
                padding: 20% 25%;
            }
            @media only screen and (min-width: $device-md) {
                padding: 21% 24%;                
            }
            @media only screen and (min-width: $device-lg) {
                margin-bottom: 0;                
                padding: 23%;                
                position: absolute;
                left: 15px;
            }
            @media only screen and (min-width: $device-xl) {
                padding: 20%;
            }
            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                inset: 0;
                @include border-radius(25px);
            }
        }     
    }    
} */
/******** Our Blog Section ********/
.our-blog .blog-list {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.our-blog .blog-list li {
  padding: 0 10px;
  width: 33.33%;
}

.our-blog .blog-list .image {
  position: relative;
  padding: 35% 50%;
}

.our-blog .blog-list .image .blog-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #FFFFFF;
}

.our-blog .blog-list .image img {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.our-blog .blog-list p {
  padding: 10px 15px 15px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.our-blog .blog-list a {
  font-weight: 700;
}

.our-blog .view-all {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .our-blog .view-all {
    margin-top: 50px;
  }
}

.our-blog .view-all a {
  margin: 0 auto;
  background: #18352D;
  color: #FFFFFF;
  text-transform: unset;
}

.our-blog .view-all a:hover {
  background: #FFBE00;
  color: #18352D;
}

/******** Get in Touch Section ********/
.get-in-touch {
  background-color: #FFFFFF;
}

.get-in-touch p {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .get-in-touch p {
    margin-bottom: 50px;
  }
}

.get-in-touch .form-wrapper {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  .get-in-touch .form-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.get-in-touch .form-wrapper .image {
  max-width: 350px;
  margin: 0 auto 20px;
}

@media only screen and (min-width: 1024px) {
  .get-in-touch .form-wrapper .image {
    max-width: 500px;
    margin: unset;
  }
}

.get-in-touch .form-wrapper .form {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .get-in-touch .form-wrapper .form {
    width: calc(100% - 200px);
  }
}

@media only screen and (min-width: 1024px) {
  .get-in-touch .form-wrapper .form {
    width: calc(100% - 600px);
    margin: unset;
  }
}

.get-in-touch .form-wrapper .form .icon {
  width: 15px;
  position: absolute;
  top: 49%;
  left: 0;
  -webkit-transform: translate(90%, -60%);
          transform: translate(90%, -60%);
}

@media only screen and (min-width: 768px) {
  .get-in-touch .form-wrapper .form .icon {
    width: 17px;
    -webkit-transform: translate(100%, -60%);
            transform: translate(100%, -60%);
  }
}

.get-in-touch .form-wrapper .form .form-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.get-in-touch .form-wrapper .form .form-group.two {
  width: calc(50% - 7px);
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .get-in-touch .form-wrapper .form .form-group.two {
    width: calc(50% - 12px);
    margin-right: 20px;
  }
}

.get-in-touch .form-wrapper .form .form-group.two:nth-child(2) {
  margin-right: 0;
}

.get-in-touch .form-wrapper .form .form-group input {
  height: 40px;
  line-height: 40px;
  border: 1px solid #18352D;
  width: 100%;
  padding: 0 10px 0 40px;
}

@media only screen and (min-width: 768px) {
  .get-in-touch .form-wrapper .form .form-group input {
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 50px;
  }
}

.get-in-touch .form-wrapper .form .form-group input:focus {
  outline: none;
}

.get-in-touch .form-wrapper .form .form-group input.error {
  border: 1px solid #8B0000;
}

.get-in-touch .form-wrapper .form .form-group textarea {
  border: 1px solid #18352D;
  width: 100%;
  padding: 10px 10px 10px 40px;
}

@media only screen and (min-width: 768px) {
  .get-in-touch .form-wrapper .form .form-group textarea {
    padding: 10px 10px 10px 50px;
  }
}

.get-in-touch .form-wrapper .form .form-group textarea.error {
  border: 1px solid #8B0000;
}

.get-in-touch .form-wrapper .form .form-group textarea:focus {
  outline: none;
}

.get-in-touch .form-wrapper .form .form-group button {
  background: #18352D;
  color: #FFFFFF;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .get-in-touch .form-wrapper .form .form-group button {
    height: 50px;
    line-height: 50px;
  }
}

.get-in-touch .form-wrapper .form label.error {
  position: absolute;
  color: #8B0000;
  left: 0;
  bottom: -17px;
  font-size: 11px;
}

.get-in-touch .form-wrapper .form button {
  width: 100%;
  border-radius: 0;
}

/******** Global Reach Section ********/
.global-reach {
  margin: 0;
}

.global-reach .map-image {
  margin-bottom: 20px;
}

.global-reach ul.country-list {
  max-width: 260px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin: 0 0 0 auto;
}

@media only screen and (min-width: 576px) {
  .global-reach ul.country-list {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .global-reach ul.country-list {
    max-width: 650px;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }
}

@media only screen and (min-width: 1024px) {
  .global-reach ul.country-list {
    max-width: 700px;
  }
}

.global-reach ul.country-list li {
  margin-bottom: 5px;
  list-style-type: circle;
  color: #FFBE00;
}

.global-reach ul.country-list li a {
  font-weight: 600;
}
/*# sourceMappingURL=index.css.map */