@import "../common/mixin";
@import "../components/banner";
@import "../components/about-us";
@import "../components/our-product";
@import "../components/our-services";
@import "../components/testimonial";
@import "../components/our-blog";
@import "../components/get-in-touch";
@import "../components/global-reach";
h3 {
    font-weight: 900;
    margin: 0 0 20px;
    color: $site_primary_color;
    text-transform: capitalize;
    span {
        color: $site_secondary_color;
    }
}
h6 {
    font-weight: 600;
    color: #002043;
    margin: 0;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}