@import "../common/mixin";
h3 {
    font-weight: 900;
    margin: 0 0 20px;
    color: $site_primary_color;
    text-transform: capitalize;
    span {
        color: $site_secondary_color;
    }
}
/******** Banner Section ********/
.banner {    
    background: $site_primary_color;
    .banner-wrapper {
        @include flexbox;
        @include space-between;        
        flex-direction: column-reverse;
        @include align-item-center;
        @media only screen and (min-width: $device-md) {
            @include flexrow;
        }
        .banner-content {
            @media only screen and (min-width: $device-md) {
                max-width: 450px;
            }
            @media only screen and (min-width: $device-lg) {
                max-width: 800px;
            }
        }
        h1 {
            color: $white_color;
            margin: 0 0 20px;
            text-align: center;
            @media only screen and (min-width: $device-md) {
                margin: 0 0 30px;
                text-align: left;
            }
        }
        h3 {
            color: $white_color;
            font-weight: 400;
            margin: 0 0 20px;
            @include text-center;
            @media only screen and (min-width: $device-md) {
                margin: 0 0 40px;
                text-align: left;
            }
        }

        .btn {
            background: $site_secondary_color;
            color: $site_primary_color;
            text-transform: capitalize;
            margin: 0 auto;
            @media only screen and (min-width: $device-md) {
                margin: unset;
            }
            &:hover {
                border: 1px solid $site_secondary_color;
                background: transparent;
                color: $site_secondary_color;
            }
        }

        .banner-image {
            position: relative;            
            max-width: 400px;
            margin: 0 auto;
            img {
                max-width: 300px;
                margin-bottom: 30px;
                @media only screen and (min-width: $device-md) {
                    margin: 0;
                }
                
            }
        }
    }
}

/******** Our Product Section ********/
.our-product {
    
    .our-product-wrapper {
        position: relative;
    }
    .slick-arrow {
        background: url(../../images/home/arrow.svg) no-repeat;
        width: 48px;
        height: 38px;
        display: inline-block;
    }
    .product-list {
        @include flexbox;
        flex-wrap: wrap;
        max-width: 100%;
        position: unset;        
        li {
            padding:  0 10px;
            width: 33.33%;
        }
        .image {
            position: relative;
            padding: 40% 50%;  
            @media only screen and (min-width: $device-md) {
                padding: 60% 40%;  
            }          
            .blog-title {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                background: rgba(0,0,0,0.5);                
                padding: 10px;
                color: $white_color;
            }
            img {
                position: absolute;
                inset: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;                
            }
        }        
    }
    .slick-arrow {
        background: url(../../images/home/arrow.svg) no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;        
        top: 60%;
        cursor: pointer;
        z-index: 1;
        @media only screen and (min-width: $device-md) {
            top: 40%;
        }
        @media only screen and (min-width: $device-lg) {            
            top: 50%;
        }
    }
    .arrow-left.slick-arrow {
        left: -30px;
        transform: rotate(180deg);        
    }
    .arrow-right.slick-arrow {        
        right: -30px;
        transform: rotate(360deg);        
    }
}

/******** About us Section ********/
.about-us {
    background: $white_color;    
    .about-us-wrapper {
        @include flexbox;
        @include align-item-center;
        flex-direction: column-reverse;
        @media only screen and (min-width: $device-md) {
            @include flexrow;
            @include space-between;
        }
        .content {
            max-width: 710px;
            @media only screen and (min-width: $device-md) {                
                max-width: 410px;
            }
            @media only screen and (min-width: $device-lg) {
                max-width: 560px;
            }
            @media only screen and (min-width: $device-xl) {                
                max-width: 710px;
            }
            a {
                font-weight: 700;
            }
            h3 {
                margin-top: 20px;
                @media only screen and (min-width: $device-md) {
                    margin-top: 0;
                }
            }
        }
        .video {
            max-width: 400px;
            width: 100%;
        }     
    }
}

/******** Our Service Section ********/
.our-service {
    background-color: $white_color;
}
.our-service-wrapper {    
    margin-bottom: 20px;       
    a {
        font-weight: 700;
    }
}
.services-list {
    @include flex-center;        
    text-align: center;
    flex-wrap: wrap;
    li {
        width: 50%;
        margin-bottom: 25px;
        @media only screen and (min-width: $device-lg) {
            width: 33.33%;
        }
        @media only screen and (min-width: $device-lg) {
            width: 25%;
            margin-bottom: 0;
        }
    }
    img {
        width: 100px;
        margin: 0 auto 10px;
        text-align: center;
        display: block;
    }
    h5 {
        margin: 0;
    }    
}

/******** Testimonial Section ********
.testimonial {
    padding: 0;      
    overflow: hidden;
    .container {
        @media only screen and (min-width: $device-lg) {
            padding: 50px 0;
        }
    }
    .testimonial-wrapper {
        @include flexbox;
        @include align-item-center;
        flex-direction: column;
        position: relative;
        @media only screen and (min-width: $device-lg) {
            @include flexrow;
            @include space-between;
        }        
        &:after {
            @media only screen and (min-width: $device-lg) {
                content: '';
                width: 100%;
                height: 100%;
                display: inline-block;
                position: absolute;
                right: -100%;
                background: $site_primary_color;
            }
        }
        .content {            
            color: $white_color; 
            @include text-center;
            background: $site_primary_color; 

            max-width: 100;
            padding: 30px 15px;
            margin-left: auto;
            width: 100%;     
            @media only screen and (min-width: $device-md) {
                text-align: unset;                
            }
            @media only screen and (min-width: $device-lg) {
                max-width: 810px;
                padding: 30px 40px 30px 250px;
            }     
            @media only screen and (min-width: $device-xl) {
                max-width: 1000px;
                padding: 30px 40px 30px 330px;
            }            
            .subtitle {
                font-weight: normal;
                text-transform: capitalize;
                margin-bottom: 20px;
                @include text-center;
                @media only screen and (min-width: $device-lg) {
                    text-align: unset;                
                }
            }
            a {
                color: $site_secondary_color;
                font-weight: 700;
                &:hover {
                    color: $white_color;
                }
            }
        }
        .testimonial-image {
            position: relative;
            padding: 30%;
            margin-bottom: 20px;
            @media only screen and (min-width: $device-sm) {
                padding: 20% 25%;
            }
            @media only screen and (min-width: $device-md) {
                padding: 21% 24%;                
            }
            @media only screen and (min-width: $device-lg) {
                margin-bottom: 0;                
                padding: 23%;                
                position: absolute;
                left: 15px;
            }
            @media only screen and (min-width: $device-xl) {
                padding: 20%;
            }
            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
                inset: 0;
                @include border-radius(25px);
            }
        }     
    }    
} */

/******** Our Blog Section ********/
.our-blog {        
    .blog-list {
        @include flexbox;
        flex-wrap: wrap;
        margin: 0 -10px;
        li {
            padding:  0 10px;
            width: 33.33%;          
        }
        .image {
            position: relative;
            padding: 35% 50%;            
            .blog-title {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                background: rgba(0,0,0,0.5);               
                padding: 10px;
                color: $white_color;
            }
            img {
                position: absolute;
                inset: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-top-right-radius: 25px;
                border-top-left-radius: 25px;
            }
        }
        p {
            padding: 10px 15px 15px;
            background-color: $white_color;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
        }
        a {
            font-weight: 700;
            // border-color: red;
            // transition: border-color .3s ease .4s;
        }
    }

    .view-all {
        margin-top: 20px;
        @media only screen and (min-width: $device-md) {
            margin-top: 50px;
        }
        a {
            margin: 0 auto;
            background: $site_primary_color;
            color: $white_color;
            text-transform: unset;
            &:hover {
                background: $site_secondary_color;
                color: $site_primary_color;
            }
        }
    }
}

/******** Get in Touch Section ********/

.get-in-touch {    
    background-color: $white_color;
    p {
        margin-bottom: 20px;
        @media only screen and (min-width: $device-md) {
            margin-bottom: 50px;    
        }        
    }
    .form-wrapper {
        @include flexbox;
        @include space-between;
        @include flexColumn;
        @include align-item-center;
        @media only screen and (min-width: $device-lg) {
            flex-direction: row;
        }
        .image {
            max-width: 350px;
            margin: 0 auto 20px;
            @media only screen and (min-width: $device-lg) {
                max-width: 500px;
                margin: unset;
            }
        }
        .form {
            width: 100%;
            margin: 0 auto;
            @media only screen and (min-width: $device-md) {
                width: calc(100% - 200px);
                
            }
            @media only screen and (min-width: $device-lg) {
                width: calc(100% - 600px);
                margin: unset;
            }
            .icon {
                width: 15px;
                position: absolute;
                top: 49%;
                left: 0;
                transform: translate(90%,-60%);
                @media only screen and (min-width: $device-md) {
                    width: 17px;
                    transform: translate(100%,-60%);
                }
            }
            .form-group{
                width: 100%;                
                margin-bottom: 20px;
                position: relative;
                &.two {
                    width: calc(50% - 7px);
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    @media only screen and (min-width: $device-md) {
                        width: calc(50% - 12px);
                        margin-right: 20px;
                    }
                    &:nth-child(2) {
                        margin-right: 0;
                    }
                }
                input {
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid $site_primary_color;
                    width: 100%;
                    padding: 0 10px 0 40px;
                    @media only screen and (min-width: $device-md) {
                        height: 50px;
                        line-height: 50px;
                        padding: 0 10px 0 50px;
                    }                    
                    &:focus {outline:none;}
                    &.error {
                        border: 1px solid #8B0000;
                    }
                }
                textarea {
                    border: 1px solid $site_primary_color;
                    width: 100%;
                    padding: 10px 10px 10px 40px;
                    @media only screen and (min-width: $device-md) {                     
                        padding: 10px 10px 10px 50px;
                    }
                    &.error {
                        border: 1px solid #8B0000;
                    }
                    &:focus {outline:none;}                    
                }
                button {
                    background: $site_primary_color;
                    color: $white_color;
                    height: 40px;
                    line-height: 40px;
                    width: 100%;
                    @include text-center;
                    @media only screen and (min-width: $device-md) {
                        height: 50px;
                        line-height: 50px;                        
                    }
                }
            }
            label.error {
                position: absolute;
                color: #8B0000;
                left: 0;
                bottom: -17px;
                font-size: 11px;
            }
            button {
                width: 100%;                
                @include border-radius(0);
            }
        }
    }
}
/******** Global Reach Section ********/
.global-reach {
    margin: 0;  
    .map-image {
        margin-bottom: 20px;
    }
    ul.country-list {
        max-width: 260px;
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        margin: 0 0 0 auto;
        @media only screen and (min-width: $device-sm) {
            max-width: 350px;
            margin: 0 auto;
        }
        @media only screen and (min-width: $device-md) {
            max-width: 650px;
            columns: 4;
            -webkit-columns: 4;
            -moz-columns: 4;
        }
        @media only screen and (min-width: $device-lg) {
            max-width: 700px;
        }
        li {
            margin-bottom: 5px;
            list-style-type: circle;
            color: $site_secondary_color;
            a {
                font-weight: 600;
            }
        }
    }
}