@import "../common/mixin";


h3 {
    margin: 0 0 20px;
    font-weight: 900;
    color: $site_tertiary_color;
    text-transform: capitalize;
}
/******** Banner Section ********/
.banner {
    background: url(../../images/product/banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    @include space-none;
    .banner-wrapper {
        @include flexbox;
        @include space-between;
        @include align-item-center;        
        .banner-image {
            position: relative;            
            padding: 28% 50%;
            margin-left: auto;
            @media only screen and (min-width: $device-md) {
                padding: 15.417% 23%;
            }
            img {
                position: absolute;
                inset: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
    .page-titile {
        max-width: 480px;
        color: $white_color;
        margin: 0 auto;        
        display: none;
        @media only screen and (min-width: $device-md) {
            display: block;
        }
        h1 {
            margin: 0 0 20px;
        }

    }
}

/******** Breadcrumbs Section ********/
.breadcrumbs {
    clear: both;
    padding: 10px 0;
    ul {
        @include flexbox;
        text-transform: capitalize;
        
        li {
            margin-right: 10px;
            a {
                padding-right: 15px;                
                position: relative;
                font-weight: 600;
                &::after {
                    content: '/';
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}

/******** Our Product Section ********/
.our-products {
    background-color: $white_color;
    margin: 0;
    p {
        margin-bottom: 20px;
        color: $site_primary_color;
    }
    .sub-title {
        font-size: 16px;
        color: $site_primary_color;
        @media only screen and (min-width: $device-md) {
            font-size: 20px;
        }
        @media only screen and (min-width: $device-lg) {
            font-size: 24px;
        }
    }
}

/******** Product List Section ********/

.products-list {
    ul {
        @include flexbox;        
        @include flexwrap;
        margin: 0 -10px;
        @media only screen and (min-width: $device-md) { 
            margin: 0 -15px;
        }
        @media only screen and (min-width: $device-lg) {
            margin: 0 -40px;
        }
        li {
            @include flexbox;
            @include flexColumn;
            width: 100%;
            padding: 0 20px;
            margin-bottom: 30px;
            @media only screen and (min-width: $device-sm) { 
                width: 50%;
                margin-bottom: 40px;
            }
            @media only screen and (min-width: $device-md) { 
                width: 33.33%;  
                padding: 0 15px;              
                margin-bottom: 30px;
            }
            @media only screen and (min-width: $device-lg) {
                padding: 0 40px;
                margin-bottom: 60px;                
            }
            .product-image {
                position: relative;
                padding: 40% 50%;
                img {
                    position: absolute;
                    inset: 0;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 70px;
                }
            }
            .product-details {
                background: $site_tertiary_color;
                color: $white_color;
                padding: 20px;
            }
            h4 {
                margin: 0 0 10px;
                @media only screen and (min-width: $device-lg) {
                    font-size: 22px;
                }
            }
            p {
                font-weight: 300;
                font-size: 12px;
            }
            
        }
    }
    .many-more {
        
        @include flexbox;
        @include flexColumn;
        @include just-center;
        max-width: calc(100% - 40px);
        margin-right: auto;
        @include text-center;
        @media only screen and (min-width: $device-md) {
            text-align: unset;            
            max-width: calc(100% - 350px);
        }        
        @media only screen and (min-width: $device-lg) {            
            max-width: calc(100% - 430px);
        }
        p {
            color: $site_primary_color;
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 20px;
            @media only screen and (min-width: $device-md) {
                font-size: 22px;
                line-height: 30px;
            }
        }
        span {
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
            color: $site_primary_color;
            @media only screen and (min-width: $device-md) {
                font-size: 22px;
            }
        }
    }
}